<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found Error Page</title>
</head>
<body>
    <h1>Not Found Error</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eaque, corporis omnis aut, ipsam enim aliquid deserunt praesentium earum repellendus, incidunt libero sed ratione beatae quisquam id culpa cupiditate aliquam!</p>
    <a href="/home">
        <button>Go to Home</button>
    </a>
</body>
</html>